<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Edit Due Date</h2>

        <form method="POST">
            <input type="date" name="deadline" value="{{ assignment[4] }}" required>
            <button type="submit">Update</button>
        </form>
        
        <a href="/dashboard">← Back</a>
    </div>
</body>   
</html>